<header class="flex">

<div><a href="{{relLangURL ""}}"><b>{{site.Title}}</b></a></div>

{{with site.Params.subtitle}}<div class="subtitle">{{.}}</div>{{end}}

{{if site.Menus}}
<!--
<button type="button" class="collapsible">Menu</button>
-->
<nav class="flex-right">
	{{$currentPage := .}}
	{{range site.Menus.main}}
		{{if .HasChildren}}
		<li class="{{if $currentPage.HasMenuCurrent "main" .}}active{{end}}">
			<a href="#">
				{{.Pre}}
				<span>{{.Name}}</span>
			</a>
		</li>
		<ul>
			{{range .Children}}
			<li class="{{if $currentPage.IsMenuCurrent "main" .}}active{{end}}">
				<a href="{{.URL}}">{{.Name}}</a>
			</li>
			{{end}}
		</ul>
		{{else}}
		<li>
			<a href="{{.URL}}">
				{{.Pre}}
				<span>{{.Name}}</span>
			</a>
		</li>
		{{end}}
	{{end}}
</nav>
{{end}}

</header>