{{define "main"}}
<div class="main">

	{{with .Title}}<div><heading>{{.}}</heading></div>{{end}}
	{{with .Content}}<div><article>{{.}}</article></div>{{end}}

	<!--Set type-->
	{{if .Site.Params.mainType}}
	{{.Scratch.Set "type" .Site.Params.mainType}}
	{{else}}
	{{.Scratch.Set "type" "post"}}
	{{end}}

	<!--Set paginator base on .IsHome-->
	{{if .IsHome}}
	{{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" (.Scratch.Get "type")))}}
	{{else}}
	{{.Scratch.Set "Paginator" .Paginator}}
	{{end}}
	{{$paginator:=(.Scratch.Get "Paginator")}}

	<!--pagination-->
	{{template "_internal/pagination.html" .}}

	<section class="flex">
	{{range $paginator.Pages}}
	<div class="card">
			<a href="{{.RelPermalink}}"><h3>{{.Title}}</h3></a>
		{{with .Lastmod}}<div class="card-date">{{dateFormat "2006-01-02" .}}</div>{{end}}
		{{if .Site.Params.summary}}<div>{{.Summary}}</div>{{end}}
	</div>
	{{end}}
	</section>

</div>
{{end}}