{{define "main"}}
<div class="main">

	<!--Title-->
	{{with .Title}}
	<heading>
		<h1>{{.}}</h1>
	</heading>
	{{end}}

	<!--TOC-->
	{{if .Site.Params.toc}}
	<div class="toc-box">
		<div class="collapsible">Table of Content</div>
		<toc>{{.TableOfContents}}</toc>
	</div>
	{{end}}

	<!--Content-->
	{{with .Content}}<content>{{.}}</content>{{end}}

	<!--Date-->
	{{with .Lastmod}}<div>Update: {{dateFormat "2006-01-02" .}}</div>{{end}}

	<!--Tag-->
	<div class="flex">
		<div class="pad-r-5px">Tags:</div>
		{{range (.GetTerms "tags")}}
		<div class="pad-r-5px"><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></div>
		{{end}}
	</div>

	<!--Prev/Next-->
	{{if or .PrevInSection .NextInSection}}
	<div class="flex">
		{{with .PrevInSection}}<a href="{{.RelPermalink}}">
			<< {{.Title}}</a> {{end}}
				{{with .NextInSection}}<a class="flex-right" href="{{.RelPermalink}}">{{.Title}} >></a>{{end}}
	</div>
	{{end}}

	<!--Related-->
	{{$related := site.RegularPages.Related . | first 5}}
	{{with $related}}
	<h3>See Also</h3>
	<ul>
		{{range .}}
		<li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
		{{end}}
	</ul>
	{{end}}

</div>
{{end}}