{{define "main"}}
<div class="main">

	<!--_index.md-->
	{{if not .IsHome}}
	{{with .Title}}
	<div>
		<heading>{{.}}</heading>
	</div>
	{{end}}
	{{with .Content}}
	<div>
		<article>{{.}}</article>
	</div>
	{{end}}
	{{end}}

	<!--$paginator-->
	{{$p := .Pages}}
	{{if .IsHome}}
	{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
	{{else if eq .Kind "taxonomy"}}
	{{$p = $p.ByTitle}}
	{{end}}
	{{$paginator := .Paginate $p}}

	<!--pagination-->
	{{template "_internal/pagination.html" .}}

	<!--list-->
	<section class="flex">
		{{range $paginator.Pages}}
		<div class="card">
			<a href="{{.RelPermalink}}">
				<h3>{{.Title}}</h3>
			</a>
			{{with .Lastmod}}<div class="card-date">{{dateFormat "2006-01-02" .}}</div>{{end}}
			{{if site.Params.summary}}<div>{{.Summary}}</div>{{end}}
		</div>
		{{end}}
	</section>

</div>
{{end}}